@charset "UTF-8";
* {
  box-sizing: border-box;
}

html a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

/* Menu's Pages */
.main-bloc {
  padding: 0px 10px 80px 10px;
  border-radius: 40px 40px 0px 0px;
  background-color: rgb(246, 246, 246);
}

.restaurant-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.restaurant-title__name {
  margin: 30px 0px 0px 10px;
}
.restaurant-title__fa {
  font-size: x-large;
  margin-right: 20px;
}

.starter-title {
  font-size: 17px;
  font-weight: 400;
  padding-left: 5px;
  margin: 40px 0px 20px 0px;
}

.background-container__img {
  width: 100%;
}

.back-logo {
  font-size: 20px;
  width: 10%;
}

.fa-arrow-left {
  padding-left: 50%;
}

.underline {
  padding-bottom: 7px;
  border-bottom: 3px solid #99E2D0;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.footer__title {
  font-family: "Shrikhand", "cursive", Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.restaurant-title__name {
  font-family: "Shrikhand", "cursive", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 28px;
}

.button {
  border-radius: 30px;
  border: none;
  display: block;
  margin: auto;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 16px 22px;
  cursor: pointer;
  box-shadow: 0px 7px 10px rgb(200, 200, 200);
}
.button--modifier {
  margin-top: 50px;
  padding: 16px 50px;
}

.nav {
  background-color: rgb(246, 246, 246);
}
.nav--modifier {
  display: flex;
  align-items: center;
}
.nav__logo-link {
  display: block;
  /* pour mettre des bordures */
  box-shadow: 0px 2px 10px 0px rgb(192, 192, 192);
}
.nav__logo-link--modifier {
  width: 90%;
  padding-right: 5%;
}
.nav__logo-link__image {
  display: block;
  width: 170px;
  margin: auto;
  padding: 20px 0px 10px 0px;
}
.nav__search__bar {
  background-color: rgb(236, 236, 236);
  margin-top: 5px;
  padding: 10px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.nav__search__space {
  font-size: 16px;
  border: none;
  font-weight: 700;
  background: none;
  width: 138px;
  margin-left: 20px;
}
.nav__text {
  padding: 25px 0px 60px 0px;
}
.nav__text__title {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin: 15px 40px;
}
.nav__text__description {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin: 0px 0px 30px 0px;
}

.function {
  padding: 25px 20px 40px 30px;
  display: flex;
  flex-direction: column;
}
.function__title {
  margin: 25px 0px 25px 0px;
}
@media (min-width: 768px) {
  .function__title {
    text-align: center;
  }
}
.function__list {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
  box-shadow: 0px 7px 10px rgb(230, 230, 230);
}
.function__list:hover {
  background-color: #9356DC;
}
@media (min-width: 768px) {
  .function__list {
    width: 50%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
  }
}
.function__number {
  position: relative;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 23px;
  height: 23px;
  border-radius: 20px;
  color: white;
  font-size: 13px;
}
.function__fa {
  font-size: large;
  width: 18px;
  margin: 0px 20px 0px 10px;
  color: grey;
}
.function__description {
  margin: 30px 0px;
  font-size: 16px;
  font-weight: 700;
}

/* ACCUEIL */
.restaurant {
  padding: 40px 20px;
  background-color: rgb(246, 246, 246);
}
.restaurant__title {
  margin: 10px 0px 20px 0px;
}
@media (min-width: 768px) {
  .restaurant__title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.restaurant__card {
  position: relative;
  border-radius: 14px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .restaurant__card {
    width: 40%;
    margin: 10px;
  }
}
@media (min-width: 992px) {
  .restaurant__card {
    width: 20%;
  }
}
.restaurant__card__photo {
  width: 100%;
  height: 180px;
  border-radius: 14px 14px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__card__description {
  display: flex;
}
.restaurant__card__description__fa {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0px 0px 14px 0px;
  font-size: x-large;
  box-shadow: 7px 7px 10px 0px rgb(230, 230, 230);
}
.restaurant__card__description__text {
  width: 80%;
  padding: 17px 0px;
  background-color: white;
  border-radius: 0px 0px 0px 14px;
  box-shadow: 0px 7px 10px 0px rgb(230, 230, 230);
}
.restaurant__card__description__text__name {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 2px;
}
.restaurant__card__description__text__neighbourhood {
  font-weight: 400;
}
.restaurant__card__description__text__name, .restaurant__card__description__text__neighbourhood {
  margin: 0;
  padding-left: 15px;
  font-size: 17px;
}
.restaurant__new {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  padding: 6px 12px;
  color: rgb(20, 149, 117);
  background-color: #99E2D0;
}

/* LES AUTRES PAGES */
.starter__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 15px;
  padding: 13px 10px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 7px 7px 10px 0px rgb(230, 230, 230);
}
.starter__card__description__name {
  padding-bottom: 5px;
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}
.starter__card__description__ingredients {
  margin: 0px;
  font-size: 15px;
}
.starter__card__description__price {
  margin: 0px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 800;
}
.starter__card__description__fa {
  display: none;
}

.footer {
  background-color: #353535;
  padding: 25px;
}
.footer__title {
  color: white;
  margin: 0px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .footer__title {
    text-align: center;
  }
}
.footer__list {
  list-style: none;
  color: white;
  padding-left: 0px;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__list {
    text-align: center;
  }
}
.footer__list__items {
  padding: 0px 0px 10px 0px;
}
.footer__list__items__link {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__list__items__link {
    justify-content: center;
  }
}
.footer__list__items__link .fa-handshake-angle {
  font-size: small;
  width: 14px;
  /* ::before dans inspecter ?? */
}
.footer__list__items__link p {
  margin: 0px 0px 0px 10px;
}
.footer__list__items a {
  color: white;
}

/* Attention à l'ordre dans main scss (à revoir). *//*# sourceMappingURL=main.css.map */