.button{
    border-radius: 30px;
    border: none;
    display: block;
    margin: auto;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: $color-primary;
    padding: 16px 22px;
    
}