.button{
    border-radius: 30px;
    border: none;
    display: block;
    margin: auto;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background:$background-button;
    padding: 16px 22px;
    cursor: pointer;
    box-shadow: 0px 7px 10px $button-shadow;
    &:hover {
        box-shadow: 0px 7px 10px darken($button-shadow, 20%);
    }
    &--modifier {
        margin-top: 50px;
        padding: 16px 50px;
    }
}