* {
    box-sizing: border-box;
}
html a {
    text-decoration: none;
    color: black;
}
img{
    display: block;
}

/* Les pages de menus */
.main-bloc {
  padding: 0px 10px;
  border: 2px solid black;
  border-radius: 35px 35px 0px 0px;
}