* {
  box-sizing: border-box;
}
html a {
  text-decoration: none;
  color: black;
}
img {
  display: block;
}

/* Menu's Pages */
.main-bloc {
  padding: 0px 10px 80px 10px;
  border-radius: 40px 40px 0px 0px;
  background-color: $background-main-page;
  position: relative;
  margin-top: -50px;
  @media (min-width:992px) {
    padding: 0px 65px 80px 65px;
  }
}

.restaurant-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  @media (min-width:768px) {
    justify-content: center;
  }
  &__name {
    margin: 30px 0px 0px 10px;
  }
  &__fa {
    font-size: x-large;
    margin-right: 20px;
    @media (min-width:768px) {
      margin:0px 10px;
    }
  }
}

.menu__title {
  font-size: 17px;
  font-weight: 400;
  padding-left: 5px;
  margin: 40px 0px 0px 0px;
  @media (min-width:768px) {
    text-align: center;
  }
}

.background-container {
  &__img {
    width: 100%;
    @media (min-width:768px) {
      height: 400px;
      object-fit: cover;
    }
  }
}

.back-logo {
  font-size: 20px;
  width: 10%;
}

.fa-arrow-left {
  padding-left: 50%;
}

.underline{
    padding-bottom: 7px;
    border-bottom: 3px solid $color-tertiary;
}

.menu__container{
  @media (min-width:768px) {
    display: flex;
  }
}

.underline{
  width:40px;
  height: 1px;
  background-color: $color-tertiary;
  padding: 0;
  margin: 5px 0px 13px 6px;
  @media (min-width:768px) {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 13px;
  }
}