* {
  box-sizing: border-box;
}
html a {
  text-decoration: none;
  color: black;
}
img {
  display: block;
}

/* Menu's Pages */
.main-bloc {
  padding: 0px 10px 80px 10px;
  border-radius: 40px 40px 0px 0px;
  background-color: $background-main-page;
  position: relative;
  margin-top: -50px;
  @media (min-width: 992px) {
    padding: 0px 65px 80px 65px;
  }
}

.background-container {
  &__img {
    height: 270px;
    width: 100%;
    object-fit: cover;
    @media (min-width: 768px) {
      height: 400px;
      object-fit: cover;
    }
  }
}

.back-logo {
  font-size: 20px;
  width: 10%;
}

.fa-arrow-left {
  padding-left: 50%;
}

.menu__container {
  @media (min-width: 768px) {
    display: flex;
  }
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
  animation: hidden 0.5s 1800ms;
  animation-fill-mode: forwards;
  transform-origin: top;
  &__spinner {
    position: absolute;
    color: $color-tertiary;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 50% 50%;
    animation: rotate 2500ms linear;
  }
}
