html {
    font-family: 'Roboto',
    Arial,
    Helvetica,
    sans-serif;
}

.footer__title {
    font-family: 'Shrikhand',
    'cursive',
    Arial,
    Helvetica,
    sans-serif;
    font-weight:100;
}

.restaurant-title__name {
    font-family: 'Shrikhand',
    'cursive',
    Arial,
    Helvetica,
    sans-serif;
    font-weight:500;
    font-size: 28px;
}