html {
    font-family: 'Roboto',
    Arial,
    Helvetica,
    sans-serif;
}

.footer__title {
    font-family: 'Shrikhand',
    'cursive',
    Arial,
    Helvetica,
    sans-serif;
    font-weight:100;
}

.restaurant__name {
    font-family: 'Shrikhand',
    'cursive',
    Arial,
    Helvetica,
    sans-serif;
    font-weight:100;
    font-size: 27px;
}