$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$background-footer:#353535;
$background-main-page :rgb(246, 246, 246);
$background-restaurant-description :white;
$item-shadow :rgb(230,230,230);
$button-shadow : rgb(200, 200, 200);
$background-button:linear-gradient($color-secondary,$color-primary)