$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$background-footer:#353535;
$background-main-page :rgb(246, 246, 246);
$background-restaurant-description :white;
$shadow :rgb(230,230,230)