/* ACCUEIL */
.restaurant {
  padding: 40px 20px;
  background-color: $background-main-page;

  &__title {
    margin: 10px 0px 20px 0px;
    @media (min-width: 768px) {
      text-align: center;
    }
  }

  &__container {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card {
    position: relative;
    border-radius: 14px;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      width: 40%;
      margin: 10px;
    }
    @media (min-width: 992px) {
      width: 20%;
    }
    &__photo {
      width: 100%;
      height: 180px;
      border-radius: 14px 14px 0px 0px;
      object-fit: cover;
      /*
      &__2 {
        object-position: 0px -145px;
      }
      &__4 {
        object-position: 0px -50px;
      }
      Mettre des medias queries ??? pourcentages, top center */
    }
    &__description {
      display: flex;
      &__fa {
        position: relative;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-restaurant-description;
        border-radius: 0px 0px 14px 0px;
        font-size: x-large;
        box-shadow: 7px 7px 10px 0px $item-shadow;
        &__1 {
          position: absolute;
          transition: all 0.4s;
          &:hover {
            opacity: 0;
          }
        }
        &__2 {
          position: absolute;
          opacity: 0;
          background: $background-heart;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.4s;
          &:hover {
            opacity: 1;
          }
        }
      }
      &__text {
        width: 80%;
        padding: 17px 0px;
        background-color: $background-restaurant-description;
        border-radius: 0px 0px 0px 14px;
        box-shadow: 0px 7px 10px 0px $item-shadow;
        &__name {
          font-size: 18px;
          font-weight: 800;
          padding-bottom: 2px;
        }
        &__neighbourhood {
          font-weight: 400;
        }
        &__name,
        &__neighbourhood {
          margin: 0;
          padding-left: 15px;
          font-size: 17px;
          @media (min-width: 768px) {
            font-size: 15px;
          }
        }
      }
    }
  }

  &__new {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    padding: 6px 12px;
    color: rgb(20, 149, 117);
    background-color: $color-tertiary;
  }
}

/* LES AUTRES PAGES */

.menu__card {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: $background-restaurant-description;
  box-shadow: 7px 7px 10px 0px $item-shadow;
  cursor: pointer;
  @media (min-width: 768px) {
    width: calc(33.33% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
  &__description {
    width: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
    overflow: hidden;

    &__name {
      padding: 13px 0px 5px 10px;
      margin: 0px;
      font-size: 18px;
      font-weight: 700;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__ingredients {
      padding: 0px 0px 13px 10px;
      margin: 0px;
      font-size: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &__price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0px 20px 13px 0px;
    font-size: 15px;
    font-weight: 800;
    width: 13%;
  }
  &__fa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    font-size: large;
    background-color: $color-tertiary;
    border-radius: 0px 15px 15px 0px;
    color: white;
    overflow: hidden;
    transition: all 0.5s;
  }
  &:hover > .menu__card__fa {
    width: 17%;
    /* en reprenant de la place, le fa redevient visible car il ne déborde pas */
    .fa-circle-check {
      transform: rotate(360deg);
    }
  }
}

.fa-circle-check {
  transition: transform 1s;
}
