.restaurant {
    padding: 0px 20px;
    background-color: $background-main-page;

    &__card {
        border-radius: 20px;
        margin-bottom: 20px;
    }

    &__photo {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        }

        &__description {
            background-color: $background-restaurant-description;
            border-radius: 0px 0px 20px 20px;
        }

        &__name,
        &__neighbourhood {
            margin: 0;
            font-size: 17px;
        }

        &__name {
            font-weight: 800;
        }

        &__neighbourhood {
            font-weight: 400;
    }
}