.footer {
    background-color: $footer-color;
    padding: 20px;

    &__list {
        list-style: none;
        color: white;
        padding-left: 0px;
        margin: 0;
    }

    &__items {
        padding: 0px 0px 10px 0px;
    }

    &__title {
        color: white;
        margin: 0px;
        padding-bottom: 20px;
    }

    @media (min-width:768px) {}

    @media (min-width:992px) {}

    }