.nav {
  background-color: $background-main-page;
  &--modifier {
    display: flex;
    align-items: center;
  }
  &__logo-link {
    display: block;
    /* pour mettre des bordures */
    box-shadow: 0px 2px 10px 0px rgb(192, 192, 192);
    &--modifier {
      width: 90%;
      padding-right: 10%;
    }

    &__image {
      display: block;
      width: 170px;
      margin: auto;
      padding: 20px 0px 10px 0px;
    }
  }

  &__search {
    background-color: rgb(236, 236, 236);
    margin-top: 5px;
    padding: 10px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    &__space {
      font-size: 16px;
      border: none;
      font-weight: 700;
      background: none;
      width: 138px;
      margin-left: 15px;
    }
    &__fa {
      margin-right: 5px;
    }
  }

  &__text {
    padding: 25px 0px 60px 0px;
    &__title {
      text-align: center;
      font-size: 25px;
      font-weight: 800;
      margin: 15px 40px;
    }
    &__description {
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      margin: 0px 0px 30px 0px;
    }
  }
}
