.function {
  padding: 25px 20px 40px 30px;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    padding: 25px 20px 40px 20px;
  }

  &__title {
    margin: 25px 0px 25px 0px;
    @media (min-width: 768px) {
      text-align: center;
    }
  }
  &__list {
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
    &__item {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      background-color: $background-main-page;
      border-radius: 25px;
      box-shadow: 0px 7px 10px $item-shadow;
      &:hover {
        background-color: lighten($color-primary, 35%);
      }
      &:hover .function__fa {
        color: $color-primary;
      }
      @media (min-width: 768px) {
        width: 33.33%;
        max-width: 400px;
        margin: 0px 15px 20px 15px;
      }
    }
  }

  &__number {
    position: relative;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
  }
  &__fa {
    font-size: large;
    width: 18px;
    margin: 0px 20px 0px 10px;
    color: grey;
  }
  &__description {
    margin: 30px 0px;
    font-size: 16px;
    font-weight: 700;
  }
}
